{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <title>Label</title>
        <style>{% include 'css/label.css' %}</style>
    </head>
    <body id="{{ body_id }}">
        <div id="label">
            <div class="header">
                <div class="row row-1 bold">
                    <div class="col col-11">{{ label.hubIndicator }}</div>
                    <div class="col col-12 text-center bg-black">{{ label.inboundSortingCode }}</div>
                    <div class="col col-13 text-end">{{ label.consigneeCountry }}</div>
                    <div class="col col-14 text-center bg-black">{{ label.depotCode }}</div>
                </div>
                <div class="row row-2">
                    <div class="col col-21">{{ label.tourNumber }}</div>
                    <div class="col col-22">
                        <span class="zipcode-label">zipcode</span>
                        <span class="zipcode">{{ label.consigneeZipcode }}</span>
                    </div>
                    <div class="col col-23 bg-black text-center">{% if label.isFreight %}Freight{% endif %}</div>
                    <div class="col col-24"></div>
                </div>
                <div class="row row-3 text-center">
                    <div class="barcode-wrapper">
                        {{ generate_barcode(label.glsUnitNumber)|raw }}
                    </div>
                    <span>{{ label.getBarcodeDescription() }}</span>
                </div>
                <div class="row row-4">
                    <div class="col col-41 text-center bold"> {{ label.freightSystemCode }}</div>
                    <div class="col col-42 text-center">{{ label.stationId }}</div>
                    <div class="col col-43 text-center">{{ label.shippingDate.format('m.d.Y') }}</div>
                    <div class="col col-44 text-center">{{ label.shippingDate.format('h:i') }}</div>
                    <div class="col col-45 text-center bold">{{ label.weight }} kg</div>
                    <div class="col col-46 text-center">{{ label.sequence }} / {{ label.quantity }}</div>
                    <div class="col col-47 text-center">RTG {{ label.routingDate.format('mdY') }}</div>
                    <div class="col col-48 text-center">FR1.00.0 </div>
                </div>
            </div>
            <div class="row row-5">
                <div class="body">
                    <div class="body-content">
                        <div class="row row-6">
                            <div class="col col-61 bg-black text-start"><span class="text">{% if label.isFreight %}Freight{% endif %}</span></div>
                            <div class="col col-62 bg-black text-end"><span class="text">{{ label.packageTypeDescription }}</span></div>
                        </div>
                        <div class="row row-7">
                            <div class="col"></div>
                        </div>
                        <div class="row row-8">
                            <div class="col">
                                <span class="company-name">{{ label.consigneeName1 }}</span><br>
                                <span>{{ label.consigneeName2 }}</span><br>
                                <span>{{ label.consigneeStreet }}</span><br>
                                <span>{{ label.consigneeZipcode }} {{ label.consigneeCity }}</span>
                            </div>
                        </div>
                        <div class="row row-9">
                            <div class="col">
                                <span>Contact: {{ label.contact }}</span><br>
                                <span>Phone: {{ label.phone }}</span><br>
                                <span>Note: {{ label.note1 }}</span><br>
                                <span>Note: {{ label.note2 }}</span><br>
                                <span>Ref: {{ label.reference }}</span><br>
                            </div>
                        </div>
                    </div>
                    <div class="body-consignor">
                        <div class="body-consignor-text">
                            <span class="consignor-text-header">Consignor: consignor no: {{ label.customerNumber }} Contact ID: {{ label.contactId }}</span><br>
                            <span>{{ label.consignorName1 }}</span><br>
                            <span>{{ label.consignorName2 }}</span><br>
                            <span>{{ label.consignorName3 }}</span><br>
                            <span>{{ label.consignorStreet }}</span><br>
                            <span>{{ label.consignorZipcode }} {{ label.consignorCity }}</span>
                        </div>
                    </div>
                </div>
                <div class="row row-10">
                    {{ gls_logo()|raw }}
                </div>
            </div>
        </div>
    </body>
</html>
{% endapply %}